trigger:
- main

resources:
- repo: self

variables:
  dockerRegistryServiceConnection: '8b980636-1a95-491b-9ad9-88d1e6170a7d'
  imageRepository: 'saisukeshgandamtactoc'
  containerRegistry: 'sukeshregistry.azurecr.io'
  dockerfilePath: '$(Build.SourcesDirectory)/Minor_projectV/Dockerfile'
  tag: '$(Build.BuildId)'
  vmImageName: 'ubuntu-latest'

stages:
- stage: Build
  displayName: Build, Test Locally and Push to ACR
  jobs:
  - job: BuildJob
    pool:
      vmImage: $(vmImageName)
    steps:

    - checkout: self

    # Step 1: Build Docker Image
    - task: Docker@2
      displayName: Build Docker image
      inputs:
        command: build
        repository: $(imageRepository)
        dockerfile: $(dockerfilePath)
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(tag)
